# Core functionality - changes here should be rare!
/src/app.py                   @bgrotan
/src/backend/database.py      @bgrotan
/src/backend/routers/auth.py  @bgrotan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bgrotan
